# nixpacks.toml

[phases.setup]
# Lista de paquetes Nix a instalar.
nixPkgs = [
    "php82",
    "php82Packages.composer",
    "nodejs",
    "php82Extensions.openssl",
    "php82Extensions.fileinfo",
    "php82Extensions.pdo_mysql",
    "php82Extensions.mbstring",
    "php82Extensions.curl",
    "php82Extensions.intl"
]

[phases.build]
# Comandos para instalar las dependencias y construir los assets.
# 1. Instalamos dependencias de PHP.
# 2. Instalamos dependencias de Node.js con --legacy-peer-deps para resolver conflictos.
# 3. Ejecutamos el script de build de Node.js (ej: npm run build).
cmds = [
    'composer install --ignore-platform-reqs --no-dev --optimize-autoloader',
    'npm install --legacy-peer-deps',
    'npm run build'
]
