# nixpacks.toml

[phases.setup]
# Lista de paquetes Nix a instalar.
# Añadimos 'nodejs' para que 'npm' esté disponible y se puedan compilar los assets.
nixPkgs = [
    "php82",
    "php82Packages.composer",
    "nodejs",
    "php82Extensions.openssl",
    "php82Extensions.fileinfo",
    "php82Extensions.pdo_mysql",
    "php82Extensions.mbstring",
    "php82Extensions.curl",
    "php82Extensions.intl"
]

[phases.build]
# Comando para instalar las dependencias de PHP en producción.
# Nixpacks ejecutará 'npm install' y 'npm run build' automáticamente si es necesario.
cmds = ['composer install --ignore-platform-reqs --no-dev --optimize-autoloader']
