# nixpacks.toml

[phases.setup]
# Lista de paquetes Nix a instalar.
nixPkgs = [
    "php82",
    "php82Packages.composer",
    "nodejs",
    "php82Extensions.openssl",
    "php82Extensions.fileinfo",
    "php82Extensions.pdo_mysql",
    "php82Extensions.mbstring",
    "php82Extensions.curl",
    "php82Extensions.intl"
]

[phases.build]
# Comandos para instalar las dependencias y construir los assets.
cmds = [
    'echo "Forzando la invalidación del caché y resolviendo dependencias de Node.js...",
    'rm -rf node_modules/ package-lock.json',
    'npm install --force --legacy-peer-deps',
    'npm run build'
]
