# nixpacks.toml
[phases.setup]
nixPkgs = [
  "php82",
  "php82Packages.composer",
  "nodejs",
  "php82Extensions.openssl",
  "php82Extensions.fileinfo",
  "php82Extensions.pdo_mysql",
  "php82Extensions.mbstring",
  "php82Extensions.curl",
  "php82Extensions.intl"
]

[phases.build]
cmds = [
  'composer install --ignore-platform-reqs --no-dev --optimize-autoloader',
  'nix-shell --run "npm install --force --legacy-peer-deps"',
  'nix-shell --run "npm run build"'
]

[phases.setup]
[phases.setup.depends]
php = "php82"

[start]
cmd = "php -S 0.0.0.0:80 -t public"
