# nixpacks.toml

[phases.setup]
# Lista de paquetes Nix a instalar.
# 'composer' es un paquete independiente, no una extensión de php.
nixPkgs = [
    "php82",
    "composer",
    "php82Extensions.openssl",
    "php82Extensions.fileinfo",
    "php82Extensions.pdo_mysql",
    "php82Extensions.mbstring",
    "php82Extensions.json",
    "php82Extensions.curl",
    "php82Extensions.intl"
]

[phases.build]
# Comando para instalar las dependencias de PHP.
# Añadimos --no-dev para un entorno de producción más limpio y seguro.
cmds = ['composer install --ignore-platform-reqs --no-dev --optimize-autoloader']

# NO es necesario definir la fase [start].
# Nixpacks es lo suficientemente inteligente como para detectar Laravel
# y configurar un servidor web (como Caddy) automáticamente.
